


.diceContainer {
    height: 100px;
    width:100px;
    overflow: hidden;
    margin-bottom: 5%;
}

.spin-dice {
    animation: moveSpriteSheet 0.5s steps(6) infinite;
    animation-fill-mode: forwards;
}



.one-dice {
    animation: result1 0.1s;
    animation-fill-mode: forwards;
}
.two-dice {
    animation: result2 0.1s;
    animation-fill-mode: forwards;
}
.three-dice {
    animation: result3 0.1s;
    animation-fill-mode: forwards;
}
.four-dice {
    animation: result4 0.1s;
    animation-fill-mode: forwards;
}
.five-dice {
    animation: result5 0.1s;
    animation-fill-mode: forwards;
}
.six-dice {
    animation: result6 0.1s;
    animation-fill-mode: forwards;
}



@keyframes moveSpriteSheet {
    from {
        transform: translate3d(0px,0,0);
    }
    to{
        transform: translate3d(-100%,0,0);
    }
}

@keyframes result1 {
    
    from {
        transform: translate3d(0px,0,0);
    }
    to {
        transform: translate3d(0px,0,0);
    }
}

@keyframes result2 {
    from {
        transform: translate3d(0px,0,0);
    }
    to{
        transform: translate3d(-100px,0,0);
    }
}

@keyframes result3 {
    from {
        transform: translate3d(0px,0,0);
    }
    to{
        transform: translate3d(-200px,0,0);
    }
}

@keyframes result4 {
    from {
        transform: translate3d(0px,0,0);
    }
    to{
        transform: translate3d(-300px,0,0);
    }
}

@keyframes result5 {
    from {
        transform: translate3d(0px,0,0);
    }
    to{
        transform: translate3d(-400px,0,0);
    }
}

@keyframes result6 {
    from {
        transform: translate3d(0px,0,0);
    }
    to{
        transform: translate3d(-500px,0,0);
    }
}