.btn {
    border-radius: 15px;
    border: none;
    width: 30rem;
    height: 6rem;
    margin: 2rem;
    background-color: #FF6B35;
    font-family: 'Luckiest Guy', cursive;
    color: #FFFDF8;
    font-size: 4rem;
}

.btn:hover {
    background-color: #DD1C1A;
    color: #FFFDF8;
}

#dice-btn {
    border-radius: 15px;
    border: none;
    width: 30rem;
    height: 6rem;
    background-color: #FF6B35;
    font-family: 'Luckiest Guy', cursive;
    color: #FFFDF8;
    font-size: 4rem;
}

#dice-btn:hover {
    background-color: #DD1C1A;
}

#question-btn {
    margin-top: 15px;
    border-radius: 15px;
    border: none;
    width: 15rem;
    height: 3rem;
    background-color: #FF6B35;
    font-family: 'Luckiest Guy', cursive;
    color: #FFFDF8;
    font-size: 1.9rem;
}

#question-btn:hover {
    background-color: #DD1C1A;
}

#answer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

#answer {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    margin-left: 50px;
  }

#submitAnswer {
    margin-left: 6.5px;
    padding-bottom: 0px;
    border-radius: 15px;
    border: none;
    width: 24rem;
    height: 3rem;
    background-color: #FF6B35;
    font-family: 'Luckiest Guy', cursive;
    color: #FFFDF8;
    font-size: 1.8rem;
}

#submitAnswer:hover {
    background-color: #DD1C1A;
}





