canvas {
    outline: black solid 1px;
}

#canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#diceSection {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#dice-btn {
    border-radius: 15px;
    border: none;
    width: 30rem;
    height: 6rem;
    background-color: #FF6B35;
    font-family: 'Luckiest Guy', cursive;
    color: #FFFDF8;
    font-size: 4rem;
}

#dice-btn:hover {
    background-color: #DD1C1A;
}