body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFDFA;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #004E89;
    color: #FFFDF8;
}

h1 {
    font-size: 5rem;
    margin: 0;
}

main {
    display: flex;
    align-content: space-evenly;
}

#btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer li {
    display: inline-block;
    padding: 30px;
}